.dropdown-menu {
    background: red;
    width: 200px;
    position: fixed;
    top:auto;
    list-style: none;
    text-align: start;
    
  }

  .dropdown-menu li {
    background: #80A1A3;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
  }

  .dropdown-menu.clicked {
    display: none;
  }

  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }